Todo/Views/FolderDetails
Todo/Controlles/AlertController.swift
Todo/Controlles/Persistence.swift
Todo/Extentions/FolderEntityExtentions.swift
Todo/Extentions/TodoEntityExtentions.swift
Todo/Todo.xcdatamodeld
Todo/Preview Content
